/*  -----------------------------------  *
 *               # COLORS                *
 *  ------------------------------------ */
 
:root {
/*  defaults  */
  --color-text-default: rgb(66,66,66);
  --color-bg-default: rgb(255,255,255);
  --color-pill-default: rgb(229,217,208);

  --hover-color: rgb(246,244,242);
  --border-color: rgb(238,233,229);
	--box-shadow: inset 0 0 0 5px rgba(253, 252, 251,0), 0 2px 3px 0 rgba(0, 0, 0, 0.0999), 0 1px 1.5px 0 rgba(0, 0, 0, 0.0999), 0 1px 2px 0 rgba(0, 0, 0, 0.0999), 0 0 0 0 transparent;

  --primary-color: rgb(229,160,159) ;
  --secondary-color: rgb(211,127,126);


/*  grey  */
  --color-text-gray: rgb(204,204,204);
  --color-pill-gray: rgb(238,233,229);
  --color-bg-gray: rgb(238,233,229);
  --color-bg-gray-light: rgb(238,233,229);

/*  brown  */
  --color-text-brown: rgb(202,169,149);
  --color-pill-brown: rgb(229,219,210);
  --color-bg-brown: rgb(229,219,210);
  --color-bg-brown-light: rgb(229,219,210);
  
/*  red  */
  --color-text-red: rgb(210,108,108);
  --color-pill-red: rgb(231,154,154);
  --color-bg-red: rgb(231,154,154);
  --color-bg-red-light: rgb(231,154,154);

/*  orange  */
  --color-text-orange: rgb(243,182,116);
  --color-pill-orange: rgb(243,195,144);
  --color-bg-orange: rgb(243,195,144);
  --color-bg-orange-light:rgb(243,195,144);

/*  yellow  */
  --color-text-yellow: rgb(252,201,77);
  --color-pill-yellow: rgb(252,222,142);
  --color-bg-yellow: rgb(252,222,142);
  --color-bg-yellow-light:rgb(252,222,142);

/*  green  */
  --color-text-green: rgb(192,212,150);
  --color-pill-green: rgb(222,233,183);
  --color-bg-green: rgb(222,233,183);
  --color-bg-green-light: rgb(222,233,183);

/*  blue  */
  --color-text-blue: rgb(138,169,218);
  --color-pill-blue: rgb(186,217,245);
  --color-bg-blue: rgb(186,217,245);
  --color-bg-blue-light: rgb(186,217,245);

/*  purple  */
  --color-text-purple: rgb(178,158,199);
  --color-pill-purple: rgb(206,190,223);
  --color-bg-purple: rgb(206,190,223);
  --color-bg-purple-light:rgb(206,190,223);
  
/*  pink  */
  --color-text-gray: rgb(220,138,146);
  --color-pill-gray: rgb(242,174,180);
  --color-bg-gray: rgb(242,174,180);
  --color-bg-gray-light: rgb(242,174,180);
}


/*  -----------------------------------  *
 *             # TYPOGRAPHY              *
 *  ------------------------------------ */
 
:root {
  --notion-text-spacing: 1.00rem;
	--notion-text-margin: .25rem 0;
}


/*  text  */
p, .notion-text__content {
  font-size: 15px;
	font-weight: 400;
	line-height: 1.5;
	text-rendering: optimizeLegibility;
	color: var(--text-default);
}


/*  headings︱titles  */
h1.notion-heading {
	margin-block-start: 2.5rem;
	margin-block-end: .5rem;
	font-size: 2rem;
	font-weight: 600;
	line-height: 1.125;
	letter-spacing: -1px;
}
h2.notion-heading {
	margin-block-start: 2rem;
	margin-block-end: .5rem;
	font-size: 1.88rem;
	font-weight: 600;
	line-height: 1.25;
	letter-spacing: -.5px;
}
h3.notion-heading {
	margin-block-start: 1.5rem;
	margin-block-end: .5rem;
	font-size: 1.75rem;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: -.5px;
}
.notion-toggle h3.notion-heading,
.notion-toggle h2.notion-heading,
.notion-toggle h1.notion-heading {
	margin: 0;
	padding: 0;
	line-height: 0;
}


/*  links  */
.notion-semantic-string .link,
.notion-link {
	text-decoration: none;
	padding-bottom: 2.5px;
	border-bottom: .8px solid #ccc;
	color: #888;
	background-color: transparent;
}
.notion-semantic-string .link:hover,
.notion-link:hover {
	text-decoration: none;
	font-style: normal;
	font-family: "Inter", sans-serif;
	font-weight: 500;
	color: #565656;
	text-transform: uppercase;
}


/*  buttons  */
.notion-root .notion-text .notion-text__content .notion-semantic-string span strong .notion-link,
.notion-root .notion-text .notion-text__content .notion-semantic-string span .notion-link strong {
	display: inline-flex;
	justify-content: center;
	margin: 0;
	padding: var(--cta-padding);
	border-radius: 2.5px;
	font-style: normal;
	font-weight: 500;
	color: var(--color-text-default);
	background: var(--primary-color);
	transition: background 0.2s ease-in-out;
}
.notion-text > .notion-link > strong,
.notion-text > strong > .notion-link {
	display: inline-flex;
	justify-content: center;
	margin: 0;
	padding: var(--cta-padding);
	border-radius: 2.5px;
	font-style: normal;
	font-weight: 500;
	color: var(--color-text-default);
	background: var(--primary-color);
	transition: background 0.2s ease-in-out;
}
.notion-root .notion-text .notion-text__content .notion-semantic-string span strong .notion-link,
.notion-root .notion-text .notion-text__content .notion-semantic-string span .notion-link strong notion-header__cover {
	display: inline-flex;
	justify-content: center;
	margin: 0;
	padding: var(--cta-padding);
	border-radius: 2.5px;
	font-style: normal;
	font-weight: 500;
	color: var(--color-text-default);
	background: var(--primary-color);
	transition: background 0.2s ease-in-out;
}
.notion-text > .notion-link > strong,
.notion-text > strong > .notion-link {
	display: inline-flex;
	justify-content: center;
	margin: 0;
	padding: var(--cta-padding);
	border-radius: 2.5px;
	font-style: normal;
	font-weight: 500;
	color: var(--color-text-default);
	background: var(--primary-color);
	transition: background 0.2s ease-in-out;
}
strong {
  font-weight: 600;
  text-transform: none;
  color: #343434;
}


/*  -----------------------------------  *
 *               # LAYOUT                *
 *  ------------------------------------ */

:root {
	--column-spacing: .5rem;
	--top-spacing: .5rem;
	--layout-max-width: 88vw ;
	--image--radius: 2.5px;
	--collection-header-display: flex;
	--collection-header-icon: none;
}

/*  cover display  */
.notion-header__cover.has-cover {
  margin-block-start: 0;
  margin-block-end: 1rem;
	height: auto;
	max-height: auto;
}
.notion-header__cover.no cover {
	height: 0;
	max-height: 0;
}


/*  reduce the bottom white space  */
.super-content {
	margin-block-start: 0;
	margin-block-end: 0;
	padding-top: 0;
	padding-bottom: 0;
}


/*  hidden from view  */
.notion-property__title__icon-wrapper,
.notion-header__title-wrapper,
.notion-header__cover.no-cover,
.notion-toggle.bg-orange,
.notion-caption, .notion-file {
	display: none;
}


/*  -----------------------------------  *
 *              # DATABASES              *
 *  ------------------------------------ */

:root {
  --card-cover-large: 300px;
  --card-cover-medium: 275px;
  --card-cover-small: 250px;
  --collection-border: var(--border-color);
  --gallery-gap: var(--column-spacing);
  --card-border-radius: 2.5px;
  --card-border: .8px solid #e7e0dd;


/*  view picker  */
  --picker-border-radius: 2.5px;
  --picker-border-color: var(--border-color);
  --picker-bg-color: var(--primary-color);
  --picker-text-color:var(--color-bg-default);
  --picker-active-bg-color: var(--secondary-color);
  --picker-active-text-color: var(--color-text-default);
  --picker-hover-bg-color:var(--hover-color);
  --picker-hover-text-color: var(--color-text-default);
  
  
/*  properties */
  --collection-title-size: 1rem;
  --collection-text-size: 0.88rem;
  --pill-padding: .25em 5em;
  --pill-text-size: .8rem;
  --pill-text-weight: 400;
  --pill-letter-spacing: normal;
  --pill-border-radius: 2.5px;
}


/*  -----------------------------------  *
 *             # COMPONENTS              *
 *  ------------------------------------ */

:root {
/*  cta  */
  --cta-padding: 12.5px !important;
  --cta-border: none;
  --cta-color-text:var(--color-bg-default);
  --cta-border-radius: 5px !important;
  --cta-color-bg:var(--primary-color);
  
/*  callouts  */
  --callout-padding: .5rem;
  --callout-border: none;
  --callout-border-radius:2.5px;
  --callout-shadow: var(--box-shadow);
  
/*  misc  */
  --image-border-radius: 2.5px;
  --divider-margin: .5rem 0;
  --divider-opacity: 1;
}


/*  -----------------------------------  *
 *             # COLLECTIONS             *
 *  ------------------------------------ */

:root {
	--collection-card-cover-height-large: auto;
	--collection-card-cover-height-medium: auto;
	--collection-card-cover-height-small: auto;
	--picker--radius: 2.5px;
	--picker--color: transparent;
	--picker-bg-color: var(--color-text-orange);
	--picker-text-color: var(--text-default);
	--picker-active-bg-color: var(--primary-color);
	--picker-active-text-color: var(--text-default);
	--picker-hover-bg-color: var(--secondary-color);
	--picker-hover-text-color: var(--text-default);
}


/*  dropdown menu */
.notion-dropdown__menu-wrapper {
	position: relative;
	margin-bottom: 5px;
}


/*  gallery cards  */
.notion-collection-card.gallery .notion-property__title .notion-semantic-string {
	overflow: auto;
	white-space: normal;
}

.notion-collection-card__content .notion-property__select {
	display: inline;
	overflow: visible;
	text-overflow: initial;
	white-space: normal;
}

.notion-collection-card__content .notion-property__text .notion-semantic-string {
	display: inline;
	overflow: visible;
	text-overflow: initial;
	white-space: normal;
}


/*  -----------------------------------  *
 *                # NAVBAR               *
 *  ------------------------------------ */
 
:root {
	--cta-color-text: var(--color-bg-default);
	--cta-color-bg: var(--primary-color);
	--cta-padding: var(--pill-padding);
	--border-radius: 5px;
}

/*  navbar  */
.super-navbar {
	margin-bottom: 0;
	background-color: #eee9e595;
	backdrop-filter: blur(5px);
}


/*  cta button  */
.super-navbar__cta {
	padding: var(--cta-padding);
	border-radius: 2.5px;
	font-weight: 400;
	background-color: var(--primary-color);
}


/*  navbar items  */
.super-navbar__item,
.super-navbar__menu-item {
	margin-bottom: none;
	text-decoration: none;
	font-style: normal;
	color: var(--secondary-color);
}


/*  -----------------------------------  *
 *              # COMPONENTS             *
 *  ------------------------------------ */

/*  images  */
.notion-image.page-width {
	width: 100vw;
	max-width: 100vw;
	border-radius: 0;
}

.notion-image {
	margin: 0;
}


/*  buttons  */
.notion-root .notion-text .notion-text__content .notion-semantic-string span strong .notion-link {
	display: inline-flex;
	justify-content: center;
	margin: 0;
	padding: var(--cta-padding);
	border-radius: var(--cta-border-radius);
	font-weight: 400;
	color: var(--cta-color-text);
	opacity: 0.888;
	background: var(--primary-color);
	box-shadow: var(--box-shadow);
	transition: all .2s ease;
	text-decoration: none;
}

  /*  button hover  */
.notion-root .notion-text p.notion-text__content span.notion-semantic-string span strong a.notion-link:hover  {
	opacity: 1;
	font-weight: 500;
}


/*  callouts  */
.notion-callout {
	margin: .5rem 0 0 0;
	padding: 1rem;
	border-color: #fff;
	border-radius: 2.5px;
	box-shadow: var(--box-shadow);
	flex-direction: column;
}

.notion-callout .notion-callout__content   {
	padding-left: 1rem;
}


/*  toggles  */
.notion-toggle {
	margin: .25rem;
	padding: .25rem;
	line-height: 1.3;
	background-color: #EEE9E5;
	border: 1px solid #dfd2c5;
	border-radius: 2.5px;
}

.notion-toggle.open {
	padding-bottom: 10;
	background: #EEE9E5;
	border: 1.25px solid #efbababa;
}

.notion-toggle:hover {
	border: 1.2px solid #efbaba88;
}


/*  divider  */
.notion-divider {
	border-bottom: 0.8px solid #efbaba;
}

.notion-collection.gallery {
	border-top: 0 solid transparent !important;
}


/*  quotes  */
.notion-quote {
	position: relative;
	margin: 1rem .8rem;
	padding-left: 1em;
	border-left: 0;
}

.notion-quote::before {
	content: '“';
	position: absolute;
	top: -44px;
	left: 8.88px;
	height: 25px;
	font-size: 8rem;
	font-weight: 100;
	color: #efbababa;
	opacity: 0.25;
}
